@model List<PersonRelation>

@for (int i = 0; i < Model.Count; i++)
{
    var sl = FccRelationTypeHelper.GetFamilySiblingsSelectGroup(Model[i].Invited.Sex)
        .Select(e =>
        {
            var type = (RelationType)Enum.Parse(typeof(RelationType), e.Value);
            type = FccRelationTypeHelper.GetCounterRelationType(type);
            if (e.Value == type.ToString())
            {
                e.Selected = true;
            }
            return e;
        });

    <div class="row">
        <div class="col-md-6">
            @Html.TextBox("Name_"+i, Model[i].Invited.Name, new { @class = "form-control", @readonly = "readonly" })
        </div>
        <div class="col-md-4">
            @Html.DropDownList("Type_"+i, sl, new { @class = "form-control" })
        </div>
        <div class="col-md-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-primary" index="@i">
                <span class="fas fa-save"></span>
                @Resource.Save
            </button>
        </div>
    </div>
}