@using Shared.Enums
@{
    @model Shared.Viewmodels.PersonViewModel
}

<div class="btn-group">
    <a class="btn btn-primary crud" href="/Family/Person" args="@((int)ActionCommand.New)">
        <i class="glyphicon glyphicon-plus-sign"></i>
        @*@Resources.Resource.*@
    </a>
</div>



