@using Shared.Enums
@{
    @model Shared.Viewmodels.PersonViewModel
}

<div class="btn-group pull-right">
    <a class="btn btn-primary crud" href="/Family/Person" args="@((int)ActionCommand.New)">
        <span class="glyphicon glyphicon-plus-sign"></span>
        @Resources.Resource.Add
    </a>
</div>



