@{
    @*@model FamilyControlCenter.Common.BaseModel*@
}

<div class="btn-group">
    <a class="btn btn-primary" href="/Family/Person">
        <i class="glyphicon glyphicon-plus-sign"></i>
    </a>
</div>



