@using Shared.Helpers
@using Shared.Enums
@using Resources
@model List<Shared.Models.PersonName>

@foreach (var name in Model)
{
    <div>
        @Html.Hidden("PersonNameId", name.Id)
        @(name.Name + " ") @name.DateNameChanged.ToString("dd.MM.yyyy")
        <a href="#" id="DeletePersonName">
            <i class="fas fa-trash text-danger"></i>
        </a>
    </div>
}
