@model PersonActivity

<div class="card">
    <div class="card-header">

    </div>
    <div class="card-body">
        @Model.Activity @Model.ActivityType @Model.DateBegin.ToString() @Model.DateEnd.ToString()
    </div>
</div>