@model IEnumerable<ActivityDocumentsViewModel>

<div class="card">
    <div class="card-header">
        <h2>
            <span class="fas fa-file-alt"></span>
            @Resource.Documents
        </h2>
    </div>
    <div id="DocumentsBody" class="card-body">
        @Html.Partial("Person/_PersonDocumentList", Model)

        <div class="snackbar hide person-documents">
            <button id="DeleteDocuments" type="button" class="btn btn-edges btn-primary">
                <em class="fas fa-trash-alt text-danger"></em>
            </button>
            <button id="DeselectDocuments" type="button" class="btn btn-edges btn-primary">
                <em class="fas fa-clone"></em>
            </button>
        </div>
    </div>
</div>
