@model PersonDocumentsViewModel

<div class="card">
    <div class="card-header">
        <h2>
            <span class="fas fa-file-alt"></span>
            @Resource.Documents
        </h2>
    </div>
    <div id="DocumentsBody" class="card-body">
        @Html.Partial("Person/_PersonDocumentList", Model.Documents)
    </div>
    <div class="card-footer clearfix">
        @Html.Partial("Person/_PersonDocumentsFooterControl")
    </div>
</div>