@{
    @model Shared.Viewmodels.Family.PersonViewModel
    var rTypes = new SelectList(Model.RelationTypes, "Id", "Name", Model.RelationTypes);
}

<div class="row">
    <div class="col-md-12">
        @Html.DropDownList("NewRelation", rTypes, new { @class = "form-control" })
    </div>

    <div class="col-md-12">
        <button class="btn create-new-relation" type="button">
            <i class="glyphicon glyphicon-ok"></i>
        </button>
    </div>
</div>

