@using Resources
@{
    @model FamilyControlCenter.Viewmodels.Family.PersonViewModel
}

@foreach (var group in Model.Relations)
{
    foreach (var relation in group.Relations)
    {
        <div class="row">
            <div class="col-md-10">
                @relation.Member.GetFullName() @Resource.ResourceManager.GetString(group.RelationTypeId.ToString())
            </div>
            <div class="col-md-2">
                <button id="DestroyRelation" relation-id="@relation.Id" type="button" class="btn btn-secondary" data-dismiss="modal">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
            </div>
        </div>
    }
}
